.header-content {
    padding: 0;
    position: relative;
    overflow: hidden;
}

.header-content .item {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.header-content .item .box {
    position: absolute;
    width: 100%;
    color: #fff;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    background-color:  rgba(0,0,0,0.4);
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-content .item .title {
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-transform: none;
}

.header-content .item .btn {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .header-content .item {
        height: 100vh;
    }
    .header-content .item .title {
        font-size: 300%;
    }
}

@media (min-width: 1200px) {
    .header-content .item {
        height: 700px;
    }
    .header-content .item .title {
        font-size: 300%;
    }
}

.header-content .owl-theme .owl-controls .owl-pagination {
    text-align: end;
    padding-right: 20px;
}

.header-content .owl-theme .owl-controls .owl-buttons div span {
    color: white;
}

.header-content .owl-theme .owl-controls .owl-page span {
    background: white;
}